# Binaries
server
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build cache
*.test
*.out

# Dependencies
vendor/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp

# Git
.git
.gitignore

# OS / Temp files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml

# Env files
.env
